/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto|Montserrat:300,400');

/* Color Wheel */
:root {
  --header: #7BCBC3;
  --body: black; 
  --highlight: #2B8CBE; 
}

body {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 300;
  /* font-family: 'Roboto', sans-serif; */
}

.title {
  font-size: 20pt;
  margin: 20px;
  margin-bottom: 30px;
  padding-top: 30px;
}

h1, h2, h3, h4 {
  font-family: 'Nunito', sans-serif;
  color: var(--header);
}

a {
  color: var(--highlight);
}

/*  Nav Bar */
.nav > li {
  padding-left: 30px;
  padding-right: 30px;
}

.nav .nav-item .nav-link {
  color: black;
  font-size: 13pt;
}

.nav-active a {
  color: var(--highlight) !important;
  font-weight: bold;
}

.my-nav {
  padding-bottom: 10px;
}

/* Container */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 60px;    /* Footer height */
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

/* Task 1 HTML */
.nav-t1 {
  margin-bottom: 50px;
}

.my-tab {
  margin: 30px;
}

.form-label {
  font-size: 16pt;
}

.nav-tabs .active {
  color: var(--highlight)!important;
  font-weight: bold !important;
}

.notactive {
  color: var(--body) !important;
}
